<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserLoginMapper">
    <select id="queryAll" resultType="com.example.demo.pojo.UserInfo">
        select user.* ,login.email from login_db as login ,user_db as user where
            login.email=#{email} and login.password=#{password} and user.userId=login.userId;
    </select>

    <insert id="add" parameterType="com.example.demo.pojo.UserLogin">
        insert into login_db (userId,email,password) values (0,#{email},#{password})
    </insert>
    <insert id="addUser" parameterType="com.example.demo.pojo.UserLogin">
        insert into user_db (userId,email) select userId,email from login_db where email=#{email} and password=#{password};
    </insert>
    <select id="queryByName" resultType="com.example.demo.pojo.UserLogin">
        select * from userLogin where username = #{username}
    </select>

</mapper>