<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserInfoMapper">
    <update id="updateUserInfo" parameterType="com.example.demo.pojo.UserInfo" >
        update user_db set name=#{name},gender=#{gender},region=#{region},avatar=#{avatar} where userId=#{userId};
    </update>
    <select id="getAllFriends" resultType="com.example.demo.pojo.FriendList">
        select a.lastWord,a.lastTime,b.name,b.avatar, a.receiveUserId userId
            from relate_db a,user_db b  where (a.sendUserId=#{userId}) and ( a.receiveUserId=b.userId);
    </select>
    <select id="getUserInfoById" resultType="com.example.demo.pojo.UserInfo">
        select * from user_db where userId=#{userId};
    </select>
    <select id="getUserInfoByEmail" resultType="com.example.demo.pojo.UserInfo">
        select * from user_db where email=#{email};
    </select>
    <insert id="addFriend" parameterType="com.example.demo.pojo.UserRelate">
        insert into relate_db (sendUserId,receiveUserId,lastTime) values(#{sendUserId},#{receiveUserId},#{lastTime});
    </insert>
    <select id="checkFriendState" resultType="com.example.demo.pojo.UserRelate">
        select * from relate_db where sendUserId=#{sendUserId} and receiveUserId=#{receiveUserId};
    </select>

<!--    <select id="getUserInfoByName" resultType="com.example.demo.pojo.UserInfo">-->
<!--        -->
<!--    </select>-->
</mapper>